@charset "utf-8";
/* deprecated */
/* deprecated */
/* deprecated */
/* deprecated */
/* deprecated */
/**
 * Use this mixin when you don't want to display under high-contrast-mode on IE/Edge.
 * This doesn't work for Chrome and Firefox.
 */
/**
 * Use this mixin when you want to display only under high-contrast-mode on IE and Edge.
 * When you use this, under NOT-high-contrast-mode on IE and Edge, the target element's display is "none".
 * On Chrome or Firefox, the target element's display is "none" regardless of whether high-contrast-mode or not.
 */
/* this mixin should be imported to input, select, checkbox, and radiobutton */
/* wap-accordion-group */
/* this mixin should be imported to all buttons */
/* wap-segmented-button */
/* wap-dropdown-button */
/* wap-checkbox-group */
/* wap-date-input */
/* wap-date-term-input */
/* wap-input-group */
/* wap-tags-input */
/* wap-range-slider */
/* wap-switch-input */
/* wap-rating-input */
/* wap-text-label */
/* wap-date-label */
/* wap-stats-label */
/* wap-anchor-label */
/* wap-money-label */
/* wap-header-label */
/* wap-inbox-list, wap-rich-list */
/* selection-menu */
/* wap-message-panel */
/* wap-radio-group */
/* wap-single-select */
/* wap-tab */
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 560px;
    max-height: 490px;
    text-align: left;
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #dadde0;
    -webkit-border-radius: 3px;
    -webkit-background-clip: border-box;
    -moz-border-radius: 3px;
    -moz-background-clip: border;
    border-radius: 3px;
    background-clip: border-box;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 -1px 4px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 -1px 4px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 -1px 4px -1px rgba(0, 0, 0, 0.1);
    white-space: normal;
}
.popover.top {
    margin-top: -10px;
}
.popover.right {
    margin-left: 10px;
}
.popover.bottom {
    margin-top: 10px;
}
.popover.left {
    margin-left: -10px;
}
.popover.fade {
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.popover.fade-hidden {
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}
.popover.popover-error {
    background-color: #e91e63;
    color: #ffffff;
    border-color: #e91e63;
}
.popover.popover-error .popover-title {
    background-color: #d11b59;
    border-bottom-color: #e91e63;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -webkit-background-clip: border-box;
    -moz-border-radius: 3px;
    -moz-background-clip: border;
    border-radius: 3px;
    background-clip: border-box;
    background-clip: padding-box;
}
.popover.popover-error.top .arrow {
    border-top-color: #e91e63;
}
.popover.popover-error.top .arrow:after {
    border-top-color: #e91e63;
}
.popover.popover-error.bottom .arrow {
    border-bottom-color: #e91e63;
}
.popover.popover-error.bottom .arrow:after {
    border-bottom-color: #e91e63;
}
.popover.popover-error.left .arrow {
    border-left-color: #e91e63;
}
.popover.popover-error.left .arrow:after {
    border-left-color: #e91e63;
}
.popover.popover-error.right .arrow {
    border-right-color: #e91e63;
}
.popover.popover-error.right .arrow:after {
    border-right-color: #e91e63;
}
.popover.popover-warning {
    background-color: #f4b142;
    color: #ffffff;
    border-color: #f4b142;
}
.popover.popover-warning .popover-title {
    background-color: #db9f3b;
    border-bottom-color: #f4b142;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -webkit-background-clip: border-box;
    -moz-border-radius: 3px;
    -moz-background-clip: border;
    border-radius: 3px;
    background-clip: border-box;
    background-clip: padding-box;
}
.popover.popover-warning.top .arrow {
    border-top-color: #f4b142;
}
.popover.popover-warning.top .arrow:after {
    border-top-color: #f4b142;
}
.popover.popover-warning.bottom .arrow {
    border-bottom-color: #f4b142;
}
.popover.popover-warning.bottom .arrow:after {
    border-bottom-color: #f4b142;
}
.popover.popover-warning.left .arrow {
    border-left-color: #f4b142;
}
.popover.popover-warning.left .arrow:after {
    border-left-color: #f4b142;
}
.popover.popover-warning.right .arrow {
    border-right-color: #f4b142;
}
.popover.popover-warning.right .arrow:after {
    border-right-color: #f4b142;
}
.popover.popover-tooltip {
    background-color: rgba(97, 97, 97, 0.9);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(97, 97, 97, 0.9);
    -webkit-border-radius: 2px;
    -webkit-background-clip: border-box;
    -moz-border-radius: 2px;
    -moz-background-clip: border;
    border-radius: 2px;
    background-clip: border-box;
    border: none;
}
.popover.popover-tooltip .popover-title {
    background-color: rgba(97, 97, 97, 0.9);
    border-bottom-color: rgba(97, 97, 97, 0.9);
    color: #333333;
    -webkit-border-radius: 3px;
    -webkit-background-clip: border-box;
    -moz-border-radius: 3px;
    -moz-background-clip: border;
    border-radius: 3px;
    background-clip: border-box;
    background-clip: padding-box;
}
.popover.popover-tooltip.top .arrow {
    border-top-color: rgba(97, 97, 97, 0.9);
}
.popover.popover-tooltip.top .arrow:after {
    border-top-color: rgba(97, 97, 97, 0.9);
}
.popover.popover-tooltip.bottom .arrow {
    border-bottom-color: rgba(97, 97, 97, 0.9);
}
.popover.popover-tooltip.bottom .arrow:after {
    border-bottom-color: rgba(97, 97, 97, 0.9);
}
.popover.popover-tooltip.left .arrow {
    border-left-color: rgba(97, 97, 97, 0.9);
}
.popover.popover-tooltip.left .arrow:after {
    border-left-color: rgba(97, 97, 97, 0.9);
}
.popover.popover-tooltip.right .arrow {
    border-right-color: rgba(97, 97, 97, 0.9);
}
.popover.popover-tooltip.right .arrow:after {
    border-right-color: rgba(97, 97, 97, 0.9);
}
@media (-ms-high-contrast: active) {
    .popover.popover-tooltip {
        border: 1px solid #ffffff;
    }
}
@media (-ms-high-contrast: white-on-black) {
    .popover.popover-tooltip {
        border: 1px solid #ffffff;
    }
}
@media (-ms-high-contrast: black-on-white) {
    .popover.popover-tooltip {
        border: 1px solid #000000;
    }
}
.popover.popover-tooltip.fade {
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}
.popover.popover-tooltip.fade.bottom {
    transform-origin: top;
    transform: translateY(-10px) scale(0.5);
}
.popover.popover-tooltip.fade.top {
    transform-origin: bottom;
    transform: translateY(10px) scale(0.5);
}
.popover.popover-tooltip.fade.right {
    transform-origin: left;
    transform: translateX(-10px) scale(0.5);
}
.popover.popover-tooltip.fade.left {
    transform-origin: right;
    transform: translateX(10px) scale(0.5);
}
.popover.popover-tooltip.fade.tooltip-animation {
    transform: translate(0px) scale(1);
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.24, 1, 0.32, 1), opacity 0.1s ease;
    -moz-transition: -moz-transform 0.3s cubic-bezier(0.24, 1, 0.32, 1), opacity 0.1s ease;
    -o-transition: -o-transform 0.3s cubic-bezier(0.24, 1, 0.32, 1), opacity 0.1s ease;
    transition: -webkit-transform 0.3s cubic-bezier(0.24, 1, 0.32, 1),-moz-transform 0.3s cubic-bezier(0.24, 1, 0.32, 1),-o-transform 0.3s cubic-bezier(0.24, 1, 0.32, 1),transform 0.3s cubic-bezier(0.24, 1, 0.32, 1), opacity 0.1s ease;
}
.popover.popover-tooltip .arrow {
    display: none;
}
.popover.popover-hint {
    background-color: #f0f1f2;
    color: #000000;
    border-color: #f0f1f2;
}
.popover.popover-hint .popover-title {
    background-color: #dadde0;
    border-bottom-color: #f0f1f2;
    color: #333333;
    -webkit-border-radius: 3px;
    -webkit-background-clip: border-box;
    -moz-border-radius: 3px;
    -moz-background-clip: border;
    border-radius: 3px;
    background-clip: border-box;
    background-clip: padding-box;
}
.popover.popover-hint.top .arrow {
    border-top-color: #f0f1f2;
}
.popover.popover-hint.top .arrow:after {
    border-top-color: #f0f1f2;
}
.popover.popover-hint.bottom .arrow {
    border-bottom-color: #f0f1f2;
}
.popover.popover-hint.bottom .arrow:after {
    border-bottom-color: #f0f1f2;
}
.popover.popover-hint.left .arrow {
    border-left-color: #f0f1f2;
}
.popover.popover-hint.left .arrow:after {
    border-left-color: #f0f1f2;
}
.popover.popover-hint.right .arrow {
    border-right-color: #f0f1f2;
}
.popover.popover-hint.right .arrow:after {
    border-right-color: #f0f1f2;
}
.popover .popover-title {
    margin: 0;
    text-align: center;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.33;
    background-color: #dadde0;
    border-bottom: 1px solid #dadde0;
    -webkit-border-radius: 5px 5px 0 0;
    -webkit-background-clip: border-box;
    -moz-border-radius: 5px 5px 0 0;
    -moz-background-clip: border;
    border-radius: 5px 5px 0 0;
    background-clip: border-box;
}
.popover .popover-text-content {
    padding: 4px 8px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.popover .popover-html-content {
    word-wrap: break-word;
}
.popover .arrow {
    border-width: 11px;
}
.popover .arrow,
.popover .arrow:after {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.popover .arrow:after {
    border-width: 10px;
    content: " ";
}
.popover.top .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    bottom: -11px;
}
.popover.top .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
}
.popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
}
.popover.right .arrow:after {
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
}
.popover.bottom .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    top: -11px;
}
.popover.bottom .arrow:after {
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
}
.popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
}
.popover.left .arrow:after {
    right: 1px;
    border-right-width: 0;
    bottom: -10px;
}
.hint.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-height: 480px;
    padding: 0;
    text-align: left;
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #a4aab0;
    -webkit-border-radius: 3px;
    -webkit-background-clip: border-box;
    -moz-border-radius: 3px;
    -moz-background-clip: border;
    border-radius: 3px;
    background-clip: border-box;
    border: 1px solid #cdd0d3;
    color: #333333;
    white-space: normal;
}
.hint.popover.top {
    max-width: 280px;
    margin-top: -10px;
}
.hint.popover.top .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #a4aab0;
    bottom: -11px;
}
.hint.popover.top .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #ffffff;
}
.hint.popover.right {
    max-width: 640px;
    margin-left: 10px;
}
.hint.popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #a4aab0;
}
.hint.popover.right .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #ffffff;
}
.hint.popover.bottom {
    max-width: 280px;
    margin-top: 10px;
}
.hint.popover.bottom .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #a4aab0;
    top: -11px;
}
.hint.popover.bottom .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #ffffff;
}
.hint.popover.left {
    max-width: 640px;
    margin-left: -10px;
}
.hint.popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #a4aab0;
}
.hint.popover.left .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #ffffff;
    bottom: -10px;
}
.hint.popover-text-content {
    padding: 8px 12px;
    word-wrap: break-word;
}
.hint.popover-html-content {
    word-wrap: break-word;
}
.hint.popover .arrow {
    border-width: 11px;
}
.hint.popover .arrow,
.hint.popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
    content: "";
}
.wap-badge {
    display: inline-block;
    padding: 4px 7px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    color: #ffffff;
    position: relative;
    min-width: 20px;
    height: 20px;
    -webkit-border-radius: 1.2rem;
    -webkit-background-clip: border-box;
    -moz-border-radius: 1.2rem;
    -moz-background-clip: border;
    border-radius: 1.2rem;
    background-clip: border-box;
}
@media (-ms-high-contrast: active) {
    .wap-badge {
        border: 1px solid #ffffff;
    }
}
@media (-ms-high-contrast: white-on-black) {
    .wap-badge {
        border: 1px solid #ffffff;
    }
}
@media (-ms-high-contrast: black-on-white) {
    .wap-badge {
        border: 1px solid #000000;
    }
}
.wap-badge-overlap {
    position: absolute;
}
.wap-badge-default {
    background-color: #ff4081;
    color: #ffffff;
}
.wap-badge-empty {
    display: none;
}
.ripple-wave {
    display: block;
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
}
.ripple-wave-animation {
    -webkit-animation: ripple 0.3s cubic-bezier(0.57, 0.4, 0.79, 0.62);
    -moz-animation: ripple 0.3s cubic-bezier(0.57, 0.4, 0.79, 0.62);
    -o-animation: ripple 0.3s cubic-bezier(0.57, 0.4, 0.79, 0.62);
    animation: ripple 0.3s cubic-bezier(0.57, 0.4, 0.79, 0.62);
}
@keyframes ripple {
    100% {
        zoom: 1;
        filter: alpha(opacity=0);
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        transform: scale(2.5);
    }
}
.wap-button {
    display: inline-block;
    max-width: 100%;
}
.wap-button-button {
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    max-width: 100%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.wap-button-button.wap-button-flat {
    border: none;
    font-weight: 700;
    text-transform: uppercase;
}
.wap-button-default {
    color: #333333;
    background-color: #cdd0d3;
    border-color: #cdd0d3;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.wap-button-default.disabled,
.wap-button-default[disabled] {
    zoom: 1;
    filter: alpha(opacity=65);
    -webkit-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #777f86;
    background-color: #cdd0d3;
    border-color: #cdd0d3;
}
.wap-button-default:enabled:hover {
    color: #333333;
    background-color: #b8bdc2;
    border-color: #b8bdc2;
    -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.wap-button-default:enabled:focus {
    color: #333333;
    background-color: #b8bdc2;
    border-color: #b8bdc2;
    -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.wap-button-default:enabled:active:focus {
    background-color: #babfc5;
    border-color: #babfc5;
}
.wap-button-default:enabled:focus:hover {
    color: #333333;
    background-color: #b8bdc2;
    border-color: #b8bdc2;
    -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.wap-button-default:enabled:active:focus:hover {
    background-color: #babfc5;
    border-color: #babfc5;
}
.wap-button-default > .ripple-wave {
    background-color: #9299a0;
}
.wap-button-default.wap-button-flat {
    background-color: transparent;
    color: #7f7f7f;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.wap-button-default.wap-button-flat.disabled,
.wap-button-default.wap-button-flat[disabled] {
    zoom: 1;
    filter: alpha(opacity=65);
    -webkit-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
    color: #b8bdc2;
    background-color: transparent;
}
.wap-button-default.wap-button-flat:enabled:hover,
.wap-button-default.wap-button-flat:enabled:focus,
.wap-button-default.wap-button-flat:enabled:focus:hover {
    color: #7f7f7f;
    background-color: #d5d8da;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.wap-button-default.wap-button-flat:enabled:active:focus,
.wap-button-default.wap-button-flat:enabled:active:focus:hover {
    background-color: #d3d3d3;
}
.wap-button-default.wap-button-flat > .ripple-wave {
    background-color: #b8bdc2;
}
.wap-button-default.wap-button-icon {
    background-color: transparent;
    color: #7f7f7f;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -webkit-background-clip: border-box;
    -moz-border-radius: 50%;
    -moz-background-clip: border;
    border-radius: 50%;
    background-clip: border-box;
}
.wap-button-default.wap-button-icon.disabled,
.wap-button-default.wap-button-icon[disabled] {
    zoom: 1;
    filter: alpha(opacity=65);
    -webkit-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
    background-color: transparent;
}
.wap-button-default.wap-button-icon:enabled:hover {
    color: #333333;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.wap-button-default.wap-button-icon:enabled:focus,
.wap-button-default.wap-button-icon:enabled:focus:hover,
.wap-button-default.wap-button-icon:enabled:active:focus,
.wap-button-default.wap-button-icon:enabled:active:focus:hover {
    color: #333333;
    background-color: rgba(0, 0, 0, 0.1);
}
.wap-button-primary {
    color: #ffffff;
    background-color: #4285f4;
    border-color: #4285f4;
    outline: none;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 -1px 2px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 -1px 2px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 -1px 2px -1px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.wap-button-primary.disabled,
.wap-button-primary[disabled] {
    zoom: 1;
    filter: alpha(opacity=65);
    -webkit-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
    background-color: #4285f4;
    border-color: #4285f4;
}
.wap-button-primary:enabled:hover {
    background-color: #3b77db;
    border-color: #4285f4;
    -webkit-box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.25), 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 -3px 6px -3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.25), 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 -3px 6px -3px rgba(0, 0, 0, 0.08);
    box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.25), 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 -3px 6px -3px rgba(0, 0, 0, 0.08);
    -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.wap-button-primary:enabled:focus {
    background-color: #3b77db;
    border-color: #4285f4;
    -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.wap-button-primary:enabled:active:focus {
    background-color: #1e51a6;
    border-color: #1e51a6;
}
.wap-button-primary:enabled:focus:hover {
    background-color: #3b77db;
    border-color: #4285f4;
    -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.wap-button-primary:enabled:active:focus:hover {
    background-color: #1e51a6;
    border-color: #1e51a6;
}
.wap-button-primary > .ripple-wave {
    background-color: #1e51a6;
}
.wap-button-primary.wap-button-flat {
    background-color: transparent;
    color: #4285f4;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.wap-button-primary.wap-button-flat.disabled,
.wap-button-primary.wap-button-flat[disabled] {
    zoom: 1;
    filter: alpha(opacity=65);
    -webkit-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
    color: #699ef6;
    background-color: transparent;
}
.wap-button-primary.wap-button-flat:enabled:hover,
.wap-button-primary.wap-button-flat:enabled:focus,
.wap-button-primary.wap-button-flat:enabled:focus:hover {
    background-color: #ecf3fe;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.wap-button-primary.wap-button-flat:enabled:active:focus,
.wap-button-primary.wap-button-flat:enabled:active:focus:hover {
    background-color: #c6dafb;
}
.wap-button-primary.wap-button-flat > .ripple-wave {
    background-color: #c6dafb;
}
.wap-button-primary.wap-button-icon {
    background-color: transparent;
    color: #7f7f7f;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -webkit-background-clip: border-box;
    -moz-border-radius: 50%;
    -moz-background-clip: border;
    border-radius: 50%;
    background-clip: border-box;
}
.wap-button-primary.wap-button-icon.disabled,
.wap-button-primary.wap-button-icon[disabled] {
    zoom: 1;
    filter: alpha(opacity=65);
    -webkit-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
    background-color: transparent;
}
.wap-button-primary.wap-button-icon:enabled:hover {
    color: #333333;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.wap-button-primary.wap-button-icon:enabled:focus,
.wap-button-primary.wap-button-icon:enabled:focus:hover,
.wap-button-primary.wap-button-icon:enabled:active:focus,
.wap-button-primary.wap-button-icon:enabled:active:focus:hover {
    color: #333333;
    background-color: rgba(0, 0, 0, 0.1);
}
.wap-button-white {
    color: #333333;
    background-color: #ffffff;
    border-color: #ffffff;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.wap-button-white.disabled,
.wap-button-white[disabled] {
    zoom: 1;
    filter: alpha(opacity=65);
    -webkit-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #9299a0;
    background-color: #dadde0;
    border-color: #dadde0;
}
.wap-button-white:enabled:hover {
    color: #333333;
    background-color: #d5d8da;
    border-color: #d5d8da;
    -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.wap-button-white:enabled:focus {
    color: #333333;
    background-color: #d5d8da;
    border-color: #d5d8da;
    -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.wap-button-white:enabled:active:focus {
    background-color: #dadde0;
    border-color: #dadde0;
}
.wap-button-white:enabled:focus:hover {
    color: #333333;
    background-color: #d5d8da;
    border-color: #d5d8da;
    -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.wap-button-white:enabled:active:focus:hover {
    background-color: #dadde0;
    border-color: #dadde0;
}
.wap-button-white > .ripple-wave {
    background-color: #9299a0;
}
.wap-button-white.wap-button-flat {
    background-color: transparent;
    color: #ffffff;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.wap-button-white.wap-button-flat.disabled,
.wap-button-white.wap-button-flat[disabled] {
    zoom: 1;
    filter: alpha(opacity=55);
    -webkit-opacity: 0.55;
    -moz-opacity: 0.55;
    opacity: 0.55;
    background-color: transparent;
}
.wap-button-white.wap-button-flat:enabled:hover,
.wap-button-white.wap-button-flat:enabled:focus,
.wap-button-white.wap-button-flat:enabled:focus:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.wap-button-white.wap-button-flat:enabled:active:focus,
.wap-button-white.wap-button-flat:enabled:active:focus:hover {
    background-color: rgba(235, 235, 235, 0.2);
}
.wap-button-white.wap-button-flat > .ripple-wave {
    background-color: rgba(235, 235, 235, 0.2);
}
.wap-button-white.wap-button-icon {
    background-color: transparent;
    color: #ffffff;
    zoom: 1;
    filter: alpha(opacity=80);
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -webkit-background-clip: border-box;
    -moz-border-radius: 50%;
    -moz-background-clip: border;
    border-radius: 50%;
    background-clip: border-box;
}
.wap-button-white.wap-button-icon.disabled,
.wap-button-white.wap-button-icon[disabled] {
    zoom: 1;
    filter: alpha(opacity=65);
    -webkit-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
    background-color: transparent;
}
.wap-button-white.wap-button-icon:enabled:hover {
    color: #ffffff;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.wap-button-white.wap-button-icon:enabled:focus,
.wap-button-white.wap-button-icon:enabled:focus:hover,
.wap-button-white.wap-button-icon:enabled:active:focus,
.wap-button-white.wap-button-icon:enabled:active:focus:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.wap-button-danger {
    color: #ffffff;
    background-color: #e91e63;
    border-color: #e91e63;
    outline: none;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 -1px 2px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 -1px 2px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 -1px 2px -1px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.wap-button-danger.disabled,
.wap-button-danger[disabled] {
    zoom: 1;
    filter: alpha(opacity=65);
    -webkit-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
    background-color: #e91e63;
    border-color: #e91e63;
}
.wap-button-danger:enabled:hover {
    background-color: #d11b59;
    border-color: #e91e63;
    -webkit-box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.25), 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 -3px 6px -3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.25), 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 -3px 6px -3px rgba(0, 0, 0, 0.08);
    box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.25), 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 -3px 6px -3px rgba(0, 0, 0, 0.08);
    -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.wap-button-danger:enabled:focus {
    background-color: #d11b59;
    border-color: #e91e63;
    -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.wap-button-danger:enabled:active:focus {
    background-color: #89123a;
    border-color: #89123a;
}
.wap-button-danger:enabled:focus:hover {
    background-color: #d11b59;
    border-color: #e91e63;
    -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.wap-button-danger:enabled:active:focus:hover {
    background-color: #89123a;
    border-color: #89123a;
}
.wap-button-danger > .ripple-wave {
    background-color: #89123a;
}
.wap-button-danger.wap-button-flat {
    background-color: transparent;
    color: #e91e63;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.wap-button-danger.wap-button-flat.disabled,
.wap-button-danger.wap-button-flat[disabled] {
    zoom: 1;
    filter: alpha(opacity=65);
    -webkit-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
    color: #ee4c83;
    background-color: transparent;
}
.wap-button-danger.wap-button-flat:enabled:hover,
.wap-button-danger.wap-button-flat:enabled:focus,
.wap-button-danger.wap-button-flat:enabled:focus:hover {
    background-color: #fde9f0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.wap-button-danger.wap-button-flat:enabled:active:focus,
.wap-button-danger.wap-button-flat:enabled:active:focus:hover {
    background-color: #f9c4d6;
}
.wap-button-danger.wap-button-flat > .ripple-wave {
    background-color: #f9c4d6;
}
.wap-button-danger.wap-button-icon {
    background-color: transparent;
    color: #7f7f7f;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -webkit-background-clip: border-box;
    -moz-border-radius: 50%;
    -moz-background-clip: border;
    border-radius: 50%;
    background-clip: border-box;
}
.wap-button-danger.wap-button-icon.disabled,
.wap-button-danger.wap-button-icon[disabled] {
    zoom: 1;
    filter: alpha(opacity=65);
    -webkit-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
    background-color: transparent;
}
.wap-button-danger.wap-button-icon:enabled:hover {
    color: #333333;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.wap-button-danger.wap-button-icon:enabled:focus,
.wap-button-danger.wap-button-icon:enabled:focus:hover,
.wap-button-danger.wap-button-icon:enabled:active:focus,
.wap-button-danger.wap-button-icon:enabled:active:focus:hover {
    color: #333333;
    background-color: rgba(0, 0, 0, 0.1);
}
.wap-button-small {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
    -webkit-border-radius: 2px;
    -webkit-background-clip: border-box;
    -moz-border-radius: 2px;
    -moz-background-clip: border;
    border-radius: 2px;
    background-clip: border-box;
    height: 24px;
}
.wap-button-small .wap-button-left-icon {
    font-size: 1.4rem;
}
.wap-button-small.wap-button-icon {
    padding-left: 6px;
    padding-right: 6px;
    border: none;
}
.wap-button-medium {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    -webkit-border-radius: 2px;
    -webkit-background-clip: border-box;
    -moz-border-radius: 2px;
    -moz-background-clip: border;
    border-radius: 2px;
    background-clip: border-box;
    height: 32px;
}
.wap-button-medium.wap-button-icon {
    padding-left: 8px;
    padding-right: 8px;
    border: none;
}
.wap-button-min-width-80 {
    min-width: 80px;
}
.wap-button-min-width-120 {
    min-width: 120px;
}
.wap-button-min-width-160 {
    min-width: 160px;
}
.wap-button-max-width-280 {
    width: 280px;
}
.wap-button-label {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}
.wap-button-text-left-margin {
    margin-left: 8px;
}
.wap-button-left-icon {
    position: relative;
}
.wap-button.hidden {
    display: none;
}
.wap-button.invisible {
    visibility: hidden;
}
@media screen and (max-device-height: 768px) {
    .spref-shrinking-mode-768 .wap-button .wap-button-button {
        height: 28px;
    }
}
.spref-shrinking-mode-always .wap-button .wap-button-button {
    height: 28px;
}
