@charset "utf-8";
/* deprecated */
/* deprecated */
/* deprecated */
/* deprecated */
/* deprecated */
/**
 * Use this mixin when you don't want to display under high-contrast-mode on IE/Edge.
 * This doesn't work for Chrome and Firefox.
 */
/**
 * Use this mixin when you want to display only under high-contrast-mode on IE and Edge.
 * When you use this, under NOT-high-contrast-mode on IE and Edge, the target element's display is "none".
 * On Chrome or Firefox, the target element's display is "none" regardless of whether high-contrast-mode or not.
 */
/* this mixin should be imported to input, select, checkbox, and radiobutton */
/* wap-accordion-group */
/* this mixin should be imported to all buttons */
/* wap-segmented-button */
/* wap-dropdown-button */
/* wap-checkbox-group */
/* wap-date-input */
/* wap-date-term-input */
/* wap-input-group */
/* wap-tags-input */
/* wap-range-slider */
/* wap-switch-input */
/* wap-rating-input */
/* wap-text-label */
/* wap-date-label */
/* wap-stats-label */
/* wap-anchor-label */
/* wap-money-label */
/* wap-header-label */
/* wap-inbox-list, wap-rich-list */
/* selection-menu */
/* wap-message-panel */
/* wap-radio-group */
/* wap-single-select */
/* wap-tab */
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 560px;
    max-height: 490px;
    text-align: left;
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #dadde0;
    -webkit-border-radius: 3px;
    -webkit-background-clip: border-box;
    -moz-border-radius: 3px;
    -moz-background-clip: border;
    border-radius: 3px;
    background-clip: border-box;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 -1px 4px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 -1px 4px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 -1px 4px -1px rgba(0, 0, 0, 0.1);
    white-space: normal;
}
.popover.top {
    margin-top: -10px;
}
.popover.right {
    margin-left: 10px;
}
.popover.bottom {
    margin-top: 10px;
}
.popover.left {
    margin-left: -10px;
}
.popover.fade {
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.popover.fade-hidden {
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}
.popover.popover-error {
    background-color: #e91e63;
    color: #ffffff;
    border-color: #e91e63;
}
.popover.popover-error .popover-title {
    background-color: #d11b59;
    border-bottom-color: #e91e63;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -webkit-background-clip: border-box;
    -moz-border-radius: 3px;
    -moz-background-clip: border;
    border-radius: 3px;
    background-clip: border-box;
    background-clip: padding-box;
}
.popover.popover-error.top .arrow {
    border-top-color: #e91e63;
}
.popover.popover-error.top .arrow:after {
    border-top-color: #e91e63;
}
.popover.popover-error.bottom .arrow {
    border-bottom-color: #e91e63;
}
.popover.popover-error.bottom .arrow:after {
    border-bottom-color: #e91e63;
}
.popover.popover-error.left .arrow {
    border-left-color: #e91e63;
}
.popover.popover-error.left .arrow:after {
    border-left-color: #e91e63;
}
.popover.popover-error.right .arrow {
    border-right-color: #e91e63;
}
.popover.popover-error.right .arrow:after {
    border-right-color: #e91e63;
}
.popover.popover-warning {
    background-color: #f4b142;
    color: #ffffff;
    border-color: #f4b142;
}
.popover.popover-warning .popover-title {
    background-color: #db9f3b;
    border-bottom-color: #f4b142;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -webkit-background-clip: border-box;
    -moz-border-radius: 3px;
    -moz-background-clip: border;
    border-radius: 3px;
    background-clip: border-box;
    background-clip: padding-box;
}
.popover.popover-warning.top .arrow {
    border-top-color: #f4b142;
}
.popover.popover-warning.top .arrow:after {
    border-top-color: #f4b142;
}
.popover.popover-warning.bottom .arrow {
    border-bottom-color: #f4b142;
}
.popover.popover-warning.bottom .arrow:after {
    border-bottom-color: #f4b142;
}
.popover.popover-warning.left .arrow {
    border-left-color: #f4b142;
}
.popover.popover-warning.left .arrow:after {
    border-left-color: #f4b142;
}
.popover.popover-warning.right .arrow {
    border-right-color: #f4b142;
}
.popover.popover-warning.right .arrow:after {
    border-right-color: #f4b142;
}
.popover.popover-tooltip {
    background-color: rgba(97, 97, 97, 0.9);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(97, 97, 97, 0.9);
    -webkit-border-radius: 2px;
    -webkit-background-clip: border-box;
    -moz-border-radius: 2px;
    -moz-background-clip: border;
    border-radius: 2px;
    background-clip: border-box;
    border: none;
}
.popover.popover-tooltip .popover-title {
    background-color: rgba(97, 97, 97, 0.9);
    border-bottom-color: rgba(97, 97, 97, 0.9);
    color: #333333;
    -webkit-border-radius: 3px;
    -webkit-background-clip: border-box;
    -moz-border-radius: 3px;
    -moz-background-clip: border;
    border-radius: 3px;
    background-clip: border-box;
    background-clip: padding-box;
}
.popover.popover-tooltip.top .arrow {
    border-top-color: rgba(97, 97, 97, 0.9);
}
.popover.popover-tooltip.top .arrow:after {
    border-top-color: rgba(97, 97, 97, 0.9);
}
.popover.popover-tooltip.bottom .arrow {
    border-bottom-color: rgba(97, 97, 97, 0.9);
}
.popover.popover-tooltip.bottom .arrow:after {
    border-bottom-color: rgba(97, 97, 97, 0.9);
}
.popover.popover-tooltip.left .arrow {
    border-left-color: rgba(97, 97, 97, 0.9);
}
.popover.popover-tooltip.left .arrow:after {
    border-left-color: rgba(97, 97, 97, 0.9);
}
.popover.popover-tooltip.right .arrow {
    border-right-color: rgba(97, 97, 97, 0.9);
}
.popover.popover-tooltip.right .arrow:after {
    border-right-color: rgba(97, 97, 97, 0.9);
}
@media (-ms-high-contrast: active) {
    .popover.popover-tooltip {
        border: 1px solid #ffffff;
    }
}
@media (-ms-high-contrast: white-on-black) {
    .popover.popover-tooltip {
        border: 1px solid #ffffff;
    }
}
@media (-ms-high-contrast: black-on-white) {
    .popover.popover-tooltip {
        border: 1px solid #000000;
    }
}
.popover.popover-tooltip.fade {
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}
.popover.popover-tooltip.fade.bottom {
    transform-origin: top;
    transform: translateY(-10px) scale(0.5);
}
.popover.popover-tooltip.fade.top {
    transform-origin: bottom;
    transform: translateY(10px) scale(0.5);
}
.popover.popover-tooltip.fade.right {
    transform-origin: left;
    transform: translateX(-10px) scale(0.5);
}
.popover.popover-tooltip.fade.left {
    transform-origin: right;
    transform: translateX(10px) scale(0.5);
}
.popover.popover-tooltip.fade.tooltip-animation {
    transform: translate(0px) scale(1);
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.24, 1, 0.32, 1), opacity 0.1s ease;
    -moz-transition: -moz-transform 0.3s cubic-bezier(0.24, 1, 0.32, 1), opacity 0.1s ease;
    -o-transition: -o-transform 0.3s cubic-bezier(0.24, 1, 0.32, 1), opacity 0.1s ease;
    transition: -webkit-transform 0.3s cubic-bezier(0.24, 1, 0.32, 1),-moz-transform 0.3s cubic-bezier(0.24, 1, 0.32, 1),-o-transform 0.3s cubic-bezier(0.24, 1, 0.32, 1),transform 0.3s cubic-bezier(0.24, 1, 0.32, 1), opacity 0.1s ease;
}
.popover.popover-tooltip .arrow {
    display: none;
}
.popover.popover-hint {
    background-color: #f0f1f2;
    color: #000000;
    border-color: #f0f1f2;
}
.popover.popover-hint .popover-title {
    background-color: #dadde0;
    border-bottom-color: #f0f1f2;
    color: #333333;
    -webkit-border-radius: 3px;
    -webkit-background-clip: border-box;
    -moz-border-radius: 3px;
    -moz-background-clip: border;
    border-radius: 3px;
    background-clip: border-box;
    background-clip: padding-box;
}
.popover.popover-hint.top .arrow {
    border-top-color: #f0f1f2;
}
.popover.popover-hint.top .arrow:after {
    border-top-color: #f0f1f2;
}
.popover.popover-hint.bottom .arrow {
    border-bottom-color: #f0f1f2;
}
.popover.popover-hint.bottom .arrow:after {
    border-bottom-color: #f0f1f2;
}
.popover.popover-hint.left .arrow {
    border-left-color: #f0f1f2;
}
.popover.popover-hint.left .arrow:after {
    border-left-color: #f0f1f2;
}
.popover.popover-hint.right .arrow {
    border-right-color: #f0f1f2;
}
.popover.popover-hint.right .arrow:after {
    border-right-color: #f0f1f2;
}
.popover .popover-title {
    margin: 0;
    text-align: center;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.33;
    background-color: #dadde0;
    border-bottom: 1px solid #dadde0;
    -webkit-border-radius: 5px 5px 0 0;
    -webkit-background-clip: border-box;
    -moz-border-radius: 5px 5px 0 0;
    -moz-background-clip: border;
    border-radius: 5px 5px 0 0;
    background-clip: border-box;
}
.popover .popover-text-content {
    padding: 4px 8px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.popover .popover-html-content {
    word-wrap: break-word;
}
.popover .arrow {
    border-width: 11px;
}
.popover .arrow,
.popover .arrow:after {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.popover .arrow:after {
    border-width: 10px;
    content: " ";
}
.popover.top .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    bottom: -11px;
}
.popover.top .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
}
.popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
}
.popover.right .arrow:after {
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
}
.popover.bottom .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    top: -11px;
}
.popover.bottom .arrow:after {
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
}
.popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
}
.popover.left .arrow:after {
    right: 1px;
    border-right-width: 0;
    bottom: -10px;
}
.hint.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-height: 480px;
    padding: 0;
    text-align: left;
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #a4aab0;
    -webkit-border-radius: 3px;
    -webkit-background-clip: border-box;
    -moz-border-radius: 3px;
    -moz-background-clip: border;
    border-radius: 3px;
    background-clip: border-box;
    border: 1px solid #cdd0d3;
    color: #333333;
    white-space: normal;
}
.hint.popover.top {
    max-width: 280px;
    margin-top: -10px;
}
.hint.popover.top .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #a4aab0;
    bottom: -11px;
}
.hint.popover.top .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #ffffff;
}
.hint.popover.right {
    max-width: 640px;
    margin-left: 10px;
}
.hint.popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #a4aab0;
}
.hint.popover.right .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #ffffff;
}
.hint.popover.bottom {
    max-width: 280px;
    margin-top: 10px;
}
.hint.popover.bottom .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #a4aab0;
    top: -11px;
}
.hint.popover.bottom .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #ffffff;
}
.hint.popover.left {
    max-width: 640px;
    margin-left: -10px;
}
.hint.popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #a4aab0;
}
.hint.popover.left .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #ffffff;
    bottom: -10px;
}
.hint.popover-text-content {
    padding: 8px 12px;
    word-wrap: break-word;
}
.hint.popover-html-content {
    word-wrap: break-word;
}
.hint.popover .arrow {
    border-width: 11px;
}
.hint.popover .arrow,
.hint.popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
    content: "";
}
.wap-header-label {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 32px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.wap-header-label.auto-padding {
    padding: 4px 8px 4px 14px;
}
.wap-header-label.with-left-border {
    border-left: 2px transparent solid;
}
.wap-header-label-font-title {
    font-size: 2rem;
}
.wap-header-label-font-title > .wap-header-label-left-icon {
    font-size: 2rem;
    padding-right: 4px;
}
.wap-header-label-font-subhead {
    font-size: 1.7rem;
}
.wap-header-label-font-weight-normal {
    font-weight: 400;
}
.wap-header-label-font-weight-medium {
    font-weight: 500;
}
.wap-header-label-font-weight-bold {
    font-weight: 700;
}
.wap-header-label-type-line {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.wap-header-label-type-bg-gray {
    background-color: #f0f1f2;
}
.wap-header-label-type-side.with-left-border {
    border-color: #4285f4;
}
.wap-header-label-type-line .wap-header-label-hr {
    display: block;
    margin: 0 0 0 1px;
}
.wap-header-label-color-gray {
    color: #636363;
}
.wap-header-label-left-margin {
    margin-left: 4px;
}
.wap-header-label-hr {
    display: none;
    border-top: 1px solid #dadde0;
    margin: 0 0 0 16px;
    -webkit-box-flex: auto;
    -moz-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
}
.wap-header-label-nowrap-label {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.wap-header-label.hidden {
    display: none;
}
.wap-header-label.invisible {
    visibility: hidden;
}
@media screen and (max-device-height: 768px) {
    .spref-shrinking-mode-768 .wap-header-label {
        height: 28px;
    }
}
.spref-shrinking-mode-always .wap-header-label {
    height: 28px;
}
